.weekend{ background: #f4f7f4 !important;}
.gantt_task {
  overflow-x: auto !important;
}
.remove_task_btn {
  background-color: #FF3860;
  color: #FFF;
  align-items: center;
  border: 1px solid transparent;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: 50%;
  margin-top: 10px;
  font-size: 18px;
  margin-left: 5px;
}
.remove_task_btn:hover {
  cursor: pointer;
}
.gantt_grid_head_add {
  display: none;
}
.manage-label {
  margin-left: 20px;
}
.gantt_last_cell {
  float: right;
}
.parent_task_side .gantt_cell:nth-child(1){
  width: 50% !important;
}
.parent_task_side .gantt_cell:nth-child(2){
  display: none;
}

.parent_task_side .gantt_cell:nth-child(3){
  display: none;
}
.parent_task {
  display: none;
}
.nested_task .gantt_add{
  display: none;
}
.template-items {
  margin-top: 30px;
  text-align: center;
}
.template-items > thead > tr > th {
  text-align: center;
}
.btn-danger {
  background: #FF3860 !important;
  color: white;
  font-size: 14px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  border-radius: 5px;
}
.btn-danger:hover {
  cursor: pointer;
}

.holders-items {
  margin-top: 20px;
}
.holder-item  {
  margin-bottom: 10px;
}
.holder-item > span > button {
  background: #FF3860 !important;
  color: white;
  font-size: 14px;
  margin-left: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  border-radius: 5px;
}
.holder-item > span > button:hover {
  cursor: pointer;
}

.print-btn {
  background: #01D1B2 !important;
  color: white;
  font-size: 14px;
  margin-left: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  border-radius: 5px;
}
.print-btn:hover {
  cursor: pointer;
}
.gantt_scale_cell {
  font-size: 10px;
}
.modal-cover {
  background-color: rgba(000, 0, 0, 0.1);
  height: 100%;
  width: 100vw;
  position: absolute;
  top: 0;
}
.close-btn {
  position: absolute;
  right: 10px;
  padding: 10px;
  background: #FFF;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
}
.close-btn:hover {
  cursor: pointer;
  color: #FFF;
  background: #dbdbdb;
}
.add_holder_btn_set {
   background: #FFF !important;
  color: #454545 !important;
  border: 1px solid #CECECE !important;
}
.submit_task_btn {
  background-color: #00d1b2;
  color: #FFF;
  align-items: center;
  border: 1px solid transparent;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: 50%;
  margin-top: 10px;
  font-size: 18px;
}
.submit_task_btn:hover {
  cursor: pointer;
}
.input_task {
  padding: 10px;
  font-size: 16px;
}
.title {
  color: #6b6b6b;
  font-family: Arial;
  margin-top: 0px;
}
.color-picker-wrapper {
  margin-top: 20px;
  text-align: center;
  padding-left: 30px;
  margin-bottom: 30px;
}

.color-item {
  width: 30px;
  height: 30px;
  border-radius: 4px;
}
.gantt_cal_cover {
  z-index: 10 !important;
}
.template-modal {
  background: #FFF;
  border: 1px solid #cecece;
  width: 30%;
  position: absolute;
  top: 70px;
  left: 35%;
  text-align: center;
  z-index: 20 !important;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0,0,0,.07);
  padding: 20px;
}

.add_template_btn_set {
  background: #FFF !important;
  color: #454545 !important;
  border: 1px solid #CECECE !important;
}

.zoom-bar {
  background: #fafafa;
  border-bottom: 2px solid #828282;
  height: 40px;
  line-height: 40px;
  padding: 5px 10px;
}

.radio-label {
  background: #bdc3c7;
  box-shadow: inset -2px -2px #acb2b7;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 15px;
  height: 30px;
  line-height: 30px;
  margin-left: 6px;
  text-align: center;
  width: 70px;
}

.radio-label>input[type=radio] {
  height: 0;
  margin: 0;
  visibility: hidden;
  width: 0;
}

.radio-label-active {
  background: #9ea4a8;
  box-shadow: none;
}

.gantt-container {
  height: 100vh;
  width: 100%;
}

.message-area {
  background: #ebebeb;
  border: 1px solid #a4a4a4;
  font-family: Courier, monospace;
  height: 200px;
  overflow: auto;
  padding: 10px;
}

.message-area ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.message-area li:before {
  content: "\003e";
  padding-right: 10px;
}